/* Columns: 20, Gutter Width: 1 */

// Import files
@import "core/_base";
@import "core/_settings";
@import "core/_grid";
@import "core/_layout";
@import "modules/_nav";
@import "modules/_global";
@import "modules/_basket";
@import "modules/_contact";
@import "modules/_payment";
@import "modules/_complete";
@import "misc/_mediaqueries";

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
