@media screen and (max-width: 479px) {
    ul#products {
        li {
            width: 100%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    ul#products {
        li {
            width: 50%;
            float: left;
        }
    }
}

@media screen and (min-width: 768px) {
ul#products {
    li {
        width: 25%;
        text-align: center;
    }
}
}

ul#products {
    li {
        display: block;
        float: left;
        min-height: 300px;

        p {
            margin-bottom: .5em;

            &:first-of-type {
                font-weight: 600;
                font-size: 18px;
            }

            &:nth-of-type(2) {
                font-style: italic;
            }

            &:last-of-type {
                font-weight: 600;
            }
        }

        button {
            margin-top: 20px;
        }

        img {
            max-width: 150px;
            margin: 0 auto;
            display: block;
        }
    }
}

#miniBasket {
    min-height: 150px;
    width: 100%;

    span.total {
        font-weight: 600;
        font-size: 20px;
    }

    div {
        max-width: 150px;
        min-width: 150px;
        float: left;
        display: block;

        p {
            padding: 0;
            margin: 0;
            line-height: 1.4em;
        }
    }
}

#basketTotal {
    float: right;
    height: 100px;
}