@media screen and (max-width: 479px) {
    ul#products {
        li {
            width: 100%;
        }
    }
}

@media screen and (min-width: 480px) {
ul#products {
    li {
        width: 25%;
        text-align: center;
    }
}
}

ul#products {
    li {
        display: block;
        float: left;
        min-height: 300px;

        img {
            max-width: 150px;
            margin: 0 auto;
            display: block;
        }
    }
}

#miniBasket {
    min-height: 150px;
    width: 100%;

    div {
        max-width: 100px;
        float: left;
        display: block;

        p {
            padding: 0;
            margin: 0;
            line-height: 1em;
        }
    }
}

#basketTotal {
    float: right;
    height: 100px;
}