header {
    background-color: $seven;
    text-align: center;
    font-size: 3em;
    font-family: 'Righteous', cursive;
    max-width: 990px;
    margin: 0 auto;
}

body {
    background-color: $six;
    padding: 2%;
    max-width: 990px;
    margin: 0 auto;
}

#container {
    background-color: $seven;
    display: block;
    height: auto;
    overflow: auto;
    padding: 2%;
}

p,
h1,
h2,
h3,
h4,
h5,
a,
span {
    color: $one;
}

::selection {
    background: $four;
    color: #fff;
}

::-moz-selection {
    background: $four;
    color: #fff;
}

a:hover {
    color: $five;
}

span {
    background-color: $seven;
}

footer {
    background-color: $four;
    text-align: center;
    padding: 10px;
    max-width: 990px;
    margin: 0 auto;
    p {
        color: #fff;
        vertical-align: middle;
        margin: 0;
    }
}

.copy {
    @include spanWidth(20);
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.proceed {
    float: right;
    margin: 25px;
    color: #fff;
    background: $four;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    min-width: 70px;
    position: relative;
    cursor: pointer;
    &:after {
        font-family: FontAwesome;
        content: "\f054";
        position: absolute;
        top: 12px;
        right: 8px;
    }
    &:hover {
        color: #fff;
        background: lighten($four, 10%)
    }
    &.back {
        float: left;
        padding-left: 20px;
        text-align: right;
        &:after {
            content: "";
        }
        &:before {
            font-family: FontAwesome;
            content: "\f053";
            position: absolute;
            top: 12px;
            left: 8px;
        }
    }
    &.pay {
        &:after {
            content: "\f023";
        }
    }
}

button {
    margin: 4px 4px 4px 0;
    color: #fff;
    background: $four;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    min-width: 50px;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: lighten($four, 10%)
    }
}

ul#breadcrumbs {
    display:flex;  
    list-style:none;
    font-size: 11px;
    margin-bottom: 30px;
    li {
        display: inline;
        width: auto;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        &.active {
            font-weight: 600;
        }
    }
    a {
        text-decoration: none;
    }
}